<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://200.16.7.150:5432/postgres</property>
        <property name="hibernate.default_schema">campis</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">campis172</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class -->
        <mapping class="campis.dp1.models.Warehouse"/>
        <mapping class="campis.dp1.models.User"/>
        <mapping class="campis.dp1.models.Rack"/>
        <mapping class="campis.dp1.models.Role"/>
        <mapping class="campis.dp1.models.Product"/>
        <mapping class="campis.dp1.models.Permission"/>
        <mapping class="campis.dp1.models.View"/>
        <mapping class="campis.dp1.models.ProductType"/>
        <mapping class="campis.dp1.models.UnitOfMeasure"/>
        <mapping class="campis.dp1.models.Vehicle"/>
        <mapping class="campis.dp1.models.WarehouseMove"/>
	<mapping class="campis.dp1.models.DispatchMove"/>
        <mapping class="campis.dp1.models.Batch"/>
        <mapping class="campis.dp1.models.RequestOrder"/>
        <mapping class="campis.dp1.models.Client"/>
        <mapping class="campis.dp1.models.Complaint"/>
        <mapping class="campis.dp1.models.Refund"/>
        <mapping class="campis.dp1.models.RefundLine"/>
        <mapping class="campis.dp1.models.RequestStatus"/>
        <mapping class="campis.dp1.models.RequestOrderLine"/>
        <mapping class="campis.dp1.models.DispatchMove"/>
        <mapping class="campis.dp1.models.DispatchOrder"/>
        <mapping class="campis.dp1.models.DispatchOrderLine"/>
        <mapping class="campis.dp1.models.Campaign"/>
        <mapping class="campis.dp1.models.SaleCondition"/>
        <mapping class="campis.dp1.models.SaleConditionType"/>
        <mapping class="campis.dp1.models.WarehouseZone"/>
        <mapping class="campis.dp1.models.Area"/>
        <mapping class="campis.dp1.models.District"/>
        <mapping class="campis.dp1.models.Parameters"/>
        <mapping class="campis.dp1.models.ProductWH"/>
        <mapping class="campis.dp1.models.Invoice"/>
        
    </session-factory>

</hibernate-configuration>
